@import "reset";

$Mobile: "only screen and (max-width: 599px)";
$Tablet: "only screen and (min-width: 600px) and (max-width: 1023px)";
$Desktop: "only screen and (min-width: 1024px)";

$my-font-size: 16px;
$grid-columns: 12;

$titles-colors: orange, blue, green;
$background-color: #E0E0E0;

html {
  min-height: 100%;
  position: relative;
}

body{
  font-size: $my-font-size;
  margin: auto;  
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 20px;
}

.title {    
  font-size: 200%;  
  margin-left: 15px;
}

.menu {
  margin-left: auto;

  ul {
    a{
      font-size: 150%;
    }
  }

  li {
    display: inline-block;
    padding: 15px;
  }
}



/* Mobile */
@media  #{$Mobile} {

  @for $i from 1 through $grid-columns{
    .col-m-#{$i}{
        width: 100% / $grid-columns * $i;
    }
  }
  
  .menu-bar {
    display: none;
  }
  
  .title {
    display: none;
  }
}
  
/* Tablet */
@media #{$Tablet} {

  @for $i from 1 through $grid-columns{
    .col-t-#{$i}{
        width: 100% / $grid-columns * $i;
    }
  }

  .menu-bar {
    display: none;
  }
}
  
/* Desktop */
@media #{$Desktop} {

  @for $i from 1 through $grid-columns{
    .col-d-#{$i}{
        width: 100% / $grid-columns * $i;
    }
  }

  .menu-image {
    display: none;
  }    
}

main {
  margin: auto 20px 120px 20px;
  display: inline-block;
}

.headlines { 
  float: left;

  .frame{    
    border: 1px solid;
    box-sizing: border-box;
    margin: 20px;
    text-align: justify;
    background-color: $background-color;

    .section-title {
      border-width: 0 0 1px 1px;
      border-style: solid; 
      padding: 10px;      
      width: 100px;
      float: right;
      margin-left: 100%;   
      text-align: center; 
      font-size: 150%;
      margin-bottom: 20px;
    }

    .section-content {
      margin: 20px;      
    }
  }
  
  @each $item in $titles-colors {
    ##{$item} {
      background-color: fade-out($item, 0.5);
    }
  }            
  
}

footer {  
  text-align: center;
  background-color: $background-color;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;  
  border-top: 1px solid;
  
  div {
      margin: 30px;
  }
  span{
    display: block;
    font-weight: bold;
  }
}