<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="~/Name.cshtml" method="post">
            <input id="Name" name="Name"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
