@{ 
    var name = Request["Name"] != "" ? Request["Name"] : "Paul Kowalski";
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <ul>
            @for(var i = 0; i < 10; i++)
            {
                <p>His name is @name</p>
            }
        </ul>
    </body>
</html>
